/*Profile
------------------------------------*/
.profile .list-group i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

.profile .heading-sm-v2 {
	font-size: 16px;
}

.profile .profile-body {
	padding: 20px;
	background: #d3d3d3;
}

/*Scrollbar*/
.mCustomScrollbar {
	height: 320px; 
}




/*Table*/
.profile .table {
	background: #fff;
}

.profile .table th {
	min-width: 100px;
}

.profile .table td {
	vertical-align: middle;
}

.profile .table h3 {
	margin-top: 0;
	font-size: 16px;
	margin-bottom: 5px;
}

.profile .table a {
	color: #555;
}

.profile .table-search-v2 td img {
	width: 70px;
	height: 70px;
	margin: 0 auto;
	display: block;
}

.profile .table > thead > tr > th, 
.profile .table > tbody > tr > th, 
.profile .table > tfoot > tr > th, 
.profile .table > thead > tr > td, 
.profile .table > tbody > tr > td, 
.profile .table > tfoot > tr > td {
	padding: 11px;
}


.profile .profile-event .heading-xs {
	margin-top: 0;
	text-transform: uppercase;
}

.profile .profile-event {
	background: #fff;
	padding: 10px 15px;
	margin-bottom: 2px;
}

.profile .profile-event p {
	color: #999;
	margin-bottom: 5px;
}

.profile .date-formats {
	color: #fff;
	float: left;
	text-align: center;
	background: #3D72A4;
	margin: 7px 13px 0 0;
	padding: 7px 10px 4px;
}

.profile .date-formats span {
	display: block;
	font-size: 22px;
	font-weight: 200;
	line-height: 25px;
}

.inner-padding{

	padding: 5px 5px 5px 5px;
}

div.toggler { cursor:pointer; }
div.toggler div { display:none; }